body{
  font-family: 'Open Sans', sans-serif;
}
.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../image/background1.jpg");
  background-size: cover;
}

.login-wrapper{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.page-informaton{
  display: flex;
  padding: 10%;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.page-informaton h4{
  margin: 0;
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
}
.page-informaton p{
  color: #ffffff;
  margin: 0;
  font-size: 14px;
  font-weight: 400;

}
.signup {
  margin-top: 16px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
.signup span a {
  color: rgb(123, 235, 255);
  font-weight: 400px;
}
.logincard {
  z-index: 1;
  padding: 6%;
  background-color: #818181b6;
  border-radius: 8px;
  box-shadow: 2px 12px 0px 0px rgba(0, 0, 0, 0.15);
}
.formlabel p{
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

input[type="submit"] {
  background-color: #2f302f;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 5%;
}

input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 7px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}


input[type="text"]:focus {
  background-color: rgb(255, 255, 255);
}
input[type="submit"]:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(146, 211, 243, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
}

input[type="text"]:placeholder {
  color: #cccccc;
}

.logincard label{
  color:white;
  font-size: 14px;
}