.sidebar {
  background: #000000c9;
  position: fixed;
  padding-top: 30px;
  width: auto;
  height: 100vh;
}

.name {
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  margin-left: 7%;
}
.name span {
  margin-left: 3%;
}

.sidebar a {
  color: white;
  display: block;
  text-align: justify;
  text-decoration: none;
  font-weight: 500;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  padding: 7%;
}
a.active {
  background: #71bdff;
}

li a:hover {
  background-color: aquamarine;
  color: #ffffff;
  text-decoration: none;
}

.sidebar a span {
  margin: 10px;
}

.sidebar-menu {
  margin-top: 10%;
}

.logout-menu {
  margin-top: 60%;
}

#nav {
  display: flex;
  flex-direction: column;
  font-size: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  width: 100%;
}
