<?php require_once 'Header.php' ?>

<div class="row body">
  <div class="col-2">
    <?php require_once 'Sidebar.php' ?>
  </div>
  <div class="col-10">
    <div class="mainbody">
      <div class="container">
        <div class="formwrapper">
          <div class="MainHeading">Main task</div>
          <div class="row">
            <div class="col-5">
              <p>Task name</p>
              <input class="form-control" type="text" placeholder="" />
            </div>
            <div class="col-5">
              <p>Milenstone</p>
              <form>
                <div class="multipleSelection">
                  <div class="selectBox" onclick="showCheckboxes()">
                    <select>
                      <option>AssignUser</option>
                    </select>
                    <div class="overSelect"></div>
                  </div>

                  <div id="checkBoxes">
                    <div class="row">
                      <div class="col-6">
                      <label for="first">
                      <input type="checkbox" id="first" />
                      User
                    </label>
                      </div>
                      <div class="col-6">
                      <label for="first">
                      <input type="checkbox" id="first" />
                      User
                    </label>
                      </div>
                      <div class="col-6">
                      <label for="first">
                      <input type="checkbox" id="first" />
                      User
                    </label>
                      </div>
                      <div class="col-6">
                      <label for="first">
                      <input type="checkbox" id="first" />
                      User
                    </label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-5">
              <p>Starting Date</p>
              <input type="text" name="Date" value="10/24/2000" />
            </div>
            <div class="col-5">
              <p>Ending Date</p>
              <input type="text" name="Date" value="10/24/2000" />
            </div>
            <div class="col-5">
              <p>Description</p>
              <textarea name="Description" id="" rows="5"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<?php require_once 'Footer.php' ?>
